.NavBar{
  margin-bottom: 2em;
  margin-top: 1em;
}
.NavBar a{
  padding: .5em;
  border: 1px solid black;
  border-radius: 60px;
  margin: 10em;
}

.Home{
  display: inline-grid;
}

.leaflet-container {
  height: 420px;
  width: 100%;
}
